ul{
    list-style-type: none;
}
.text-indent{
    text-indent: -2.5rem;
}
.link:hover{
    text-decoration: underline !important;
}
.main-body{
    margin-top: 100px;
    margin-bottom: 90px;
}
.transparent-form{
    background: transparent;
    color: #fff;
}
.bg-img{
    background-image: url(../img/background_img.jpg); 
    background-size: 100%;
    background-repeat: repeat-y;
}
.cube-map{
    position: relative;
}
.ai-cube{
    position: absolute;
    max-width: 12%;
    top: 23%;
    left:18%
}
.big-data-cube {
    position: absolute;
    max-width: 12%;
    top: 18%;
    left: 46%;
}
.block-chain-cube {
    position: absolute;
    max-width: 12%;
    top: 26%;
    right: 16%;
}
.cloud-computing-cube{
    position: absolute;
    max-width: 17%;
    bottom: 19%;
    left: 38%;
}
.edge-computing-cube{
    position: absolute;
    max-width: 12%;
    bottom: 29%;
    left: 14%;
}
.five-g-cube{
    position: absolute;
    max-width: 16%;
    bottom: 26%;
    right: 19%;
}
.cube-hover:hover{
    transform: scale(1.5);
}
.cube-map-mobile{
    position: relative;
    height: 720px;
}
.ai-cube-m{
    position: absolute;
    max-width: 45%;
    top: 8%;
    left:28%
}
.big-data-cube-m {
    position: absolute;
    max-width: 45%;
    top: 26%;
    right: 1%
}
.block-chain-cube-m {
    position: absolute;
    max-width: 42%;
    top: 26%;
    left: 1%;
}
.cloud-computing-cube-m{
    position: absolute;
    max-width: 45%;
    top: 50%;
    left: 1%;
}
.edge-computing-cube-m{
    position: absolute;
    max-width: 45%;
    top: 48%;
    right: 1%;
}
.five-g-cube-m{
    position: absolute;
    max-width: 45%;
    bottom: 10%;
    left: 28%;
}
/* .background-line-m{
    position: absolute;
    top: 20%;
    left: -300px;
    transform:rotate(90deg);
    width: 900px;    
} */